<?xml version="1.0" encoding="UTF-8"?>
<web-app id="music3" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>music3</display-name>
	<!--  to handle requests to local path music3/ -->
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
	</welcome-file-list>
	
	<!-- for SystemTestServlet -->
	<servlet>
		<description>SystemTest Servlet</description>
		<display-name>SysTestServlet</display-name>
		<servlet-name>SysTestServlet</servlet-name>
		<servlet-class>cs636.music.presentation.web.SysTestServlet</servlet-class>
		<init-param>
		  <param-name>compilerSourceVM</param-name>
		  <param-value>1.7</param-value>
		</init-param>
		<init-param>
		  <param-name>compilerTargetVM</param-name>
		  <param-value>1.7</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SysTestServlet</servlet-name>
		<url-pattern>/servlet/SystemTest</url-pattern>
	</servlet-mapping>
</web-app>